body{
    background-color: rgba(8, 8, 8, 0.988);
}
#line-input{
    height:550px;
    background-color: rgba(154, 150, 150, 0.685);
    color:white;
}
#button-addon2{
    background-color: blue;
    color: red;
}
.centered {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
#a1{
    background-color: rgb(48, 11, 232);
}
h2{
    background-color: rgb(225, 43, 11);
}
#a2{
    background-color: rgb(13, 13, 13);
}
