body {
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
}

h1{
    font-size: 55px;
    color:rgb(255, 94, 0)
}
#start_button{
    color: rgb(17, 18, 17);
    background-color: transparent;
    border: transparent;
    font-size: 50px;
    font-weight: 900;
}
.modal-body
{ 
    background-image:url('images/modal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.modal-header,
.modal-footer{
    background-color: black;
    color:aqua
}
#bk-btn{
    background-color: black;
    color:aqua;
}