@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Nabla&display=swap');
@import url('https://fonts.cdnfonts.com/css/nintendo-ds-bios');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
#arena{
    background: url("../images/level4/arena_bg.jpg")no-repeat;
    background-size: cover;
    height:13.3cm;
    width:13.3cm;
    border: 5px solid black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    top:10px;
    left:0px;
}
.gems{
    width: 1cm;
    height: 1cm;
    /* background: url("../../images/gems.png") no-repeat; */
    z-index: 10;
    position: absolute;
}
.snowmens{
    width: 1cm;
    height: 1cm;
    /* background: url("../../images/gems.png") no-repeat; */
    z-index: 10;
    position: absolute;
}
.vertical{
    position:absolute;
    width:1cm;
    height: 3cm;
    background: url("../images/level4/vert.png") no-repeat;
    background-size: cover;
    z-index: 1;
    border: 1.1px solid black;
}
.horizontal{
    position: absolute;
    width:3cm;
    height:1cm;
    background: url("../images/level4/hor.png") no-repeat;
    background-size: cover;
    z-index: 1;
    border: 1.1px solid black;
}
#player{
    height: 1cm;
    width: 1cm;
    position: absolute;
    z-index: 3;
}

body {
    background-image: url('../images/play-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#heading{
    font-family: 'Squada One', cursive;
    color: rgb(0, 0, 0);
    font-size: 90px;
    margin-bottom: 50px;
}
.description{
    font-family: 'Nintendo DS BIOS', sans-serif;
    word-spacing: 5px;
    color: rgb(84, 65, 51);
    font-size: 25px;
    font-weight: 600;
}
#log{
    color:rgb(255, 255, 255);
}
.modal-body{
    background-image: url(../images/hint.png);
    background-repeat: no-repeat;
    background-size:cover;
    font-weight: 600;
    font-size: larger;
}

.navbar{
    background-image: url(../images/alert.png);
    font-weight: 700;
    background-repeat: no-repeat;
    background-size:cover;
}

.navbar-brand{
    font-size: 38px !important;
    font-weight: 700;
    color: rgb(46, 28, 28);
    margin-left: 0.5cm;
    font-family: 'Squada One', cursive;
}

.nav-item{
    font-size: 20px;
    font-weight: 500;
}