@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Eagle+Lake&family=Nabla&display=swap');
@import url('https://fonts.cdnfonts.com/css/nintendo-ds-bios');
.carousel {
    width:70%;
    height:500px;
    margin: 0 auto;
}

.imgSlide {
    width: 100%;
    margin: 0 auto;
    height:500px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.btn{
    font-family: 'Nintendo DS BIOS', sans-serif;
    word-spacing: 5px;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 600;
}
.heading1{
    font-family: 'Eagle Lake', cursive;
    font-size: 300%;
    color: black;
    padding-top: 20px;
}

.heading3{
    font-family: 'Eagle Lake', cursive;
    font-size: 200%;
    color: black;
}

/* Thick red border */
hr{
    border: 3px solid  black;
}

h1{
    color: rgb(1, 254, 1);
    background-color: transparent;
    border: transparent;
    font-size: 50px;
    font-weight: 900;
}

.modal-body
{ 
    background-repeat: no-repeat;
    background-size:cover;
}

.modal-image{
    max-height: 250px;
}

.modal-header,
.modal-footer{
    background-color: rgb(76, 181, 76);
    color:rgb(16, 22, 22)
}
#bk-btn{
    background-color: black;
    color:aqua;
}
li{
    color:rgb(0, 0, 0);
    font-size: large;
    font-weight: 500;
}

.line-numbers{
    color:rgb(200, 255, 0);
}
