@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Nabla&display=swap');
@import url('https://fonts.cdnfonts.com/css/nintendo-ds-bios');
#arena{
    background: url("../images/arena_1.jpeg") no-repeat;
    background-size: cover;
    height: 15.3cm;
    width: 15.3cm;
    border: 3px solid aqua;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    top:10px;
    left:0px;
    z-index: 0;
}

.gems{
    width: 1cm;
    height: 1cm;
    /* background: url("../images/gems.png") no-repeat; */
    z-index: 7;
    position: absolute;
}
.vertical{
    position:absolute;
    width:1cm;
    height: 3cm;
    background: url("images/vert.png") no-repeat;
    z-index: 1;
    border: 1.1px solid black;
}
.horizontal{
    position: absolute;
    width:3cm;
    height:1cm;
    background: url("images/hor.png") no-repeat;
    z-index: 1;
    border: 1.1px solid black;
}
#player{
    height: 1cm;
    width: 1cm;
    position: absolute;
    z-index: 5;
}

body {
    /* background-image: url('../images/bg.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#heading{
    font-family: 'Nabla', cursive;
    color: rgb(252, 238, 231);
    font-size: 90px;
    margin-bottom: 50px;
}
.description{
    font-family: 'Nintendo DS BIOS', sans-serif;
    word-spacing: 5px;
    letter-spacing: 3px;
    color: rgb(84, 65, 51);
    font-size: 25px;
    font-weight: 600;
}