@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Eagle+Lake&family=Nabla&display=swap');
.carousel {
    width:50%;
    height:420px;
    margin: 0 auto;
}

.imgSlide {
    width: auto;
    height:420px;
}

body{
    background-color: black;
}

.heading{
    font-family: 'Eagle Lake', cursive;
    font-size: 500%;
    color: white;
}